main {
  text-align: center;
}

#game-title {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}

#game-canvas {
  width: min(900px, calc(100dvh * 4/3 - 16px));
  background-color: orange;
  aspect-ratio: 4/3;
  border-radius: 5px;
  border: none;
  outline: none;
}

.sprite {
  display: none;
}

.icon {
  display: none;
}

#level-data {
  display: none;
}

header {
  position: absolute;
}