main {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 400px));
  gap: 10px;
  justify-content: center;
}

main a {
  background-color: lightblue;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 45px;
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
}

@media (max-width: 1400px) {
  main {
    grid-template-columns: repeat(3, minmax(300px, 400px));
  }
}

@media (max-width: 1050px) {
  main {
    grid-template-columns: repeat(2, minmax(300px, 400px));
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: repeat(1, minmax(300px, 400px));
  }
}

#cargo-pusher {
  background-image: url(/games/cargo-pusher/thumbnail.png);
}